{% extends 'bootstrap/base.html' %}
{% block title %}
     {% if title %}
        <title>{{ title }} - Website</title>
     {% else %}
        <title>Welcome to Website</title>
     {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
         {% if current_user.is_anonymous %}
         <a href="{{url_for('register')}}">Register</a>
         <a href="{{url_for('login')}}">Login</a>
         {% else %}
         <a href="{{url_for('index')}}">Home</a>
         <a href="{{url_for('user',username=current_user.username)}}">Profile</a>
<!--         对于有参数的就这样调用-->
         <a href="{{url_for('logout')}}">Logout</a>
         {% endif %}

        {% with messages=get_flashed_messages() %}
            {% if messages %}
                 {% for message in messages %}
                    {{message}}
                 {% endfor %}
            {% endif %}
        {% endwith %}
        <hr>
        {% block app_content %} {% endblock %}
    </div>
{% endblock %}