<html>
     <head>
      <meta charset="UTF-8">
         <h1>Welcome</h1>
         {% if title %}
            <title>{{ title }} - Website</title>
         {% else %}
            <title>Welcome to Website</title>
         {% endif %}
         <a href="{{url_for('register')}}">Register</a>
         <a href="{{url_for('index')}}">Home</a>
         {% if current_user.is_anonymous %}
         <a href="{{url_for('login')}}">Login</a>
         {% else %}
         <a href="{{url_for('logout')}}">Logout</a>
         {% endif %}
    </head>
    <body>
        <hr>
        {% with messages=get_flashed_messages() %}
            {% if messages %}
                 {% for message in messages %}
                    {{message}}
                 {% endfor %}
            {% endif %}
        {% endwith %}
        <hr>
        {% block content %} {% endblock %}
    </body>
</html>