{% extends "base.html" %}
{% block content %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        {{form.username.label}}<br>
        {{form.username(size=20)}}
        {% for error in form.username.errors %}
        <span style="color: #9C1A1C">{{error}}</span>
        {% endfor %}
        <p>
            {{form.about_me.label}}
            {{form.about_me(cols=50, rows=4)}}
            {% for error in form.about_me.errors %}
            <span style="color: #9C1A1C">{{error}}</span>
            {% endfor %}
        </p>
        {{form.submit()}}
    </form>
{% endblock %}