{% extends "base.html" %}

{% block app_content %}
    <h1>Hi! {{user.username}}</h1>
    {% for post in posts %}
    {{post.author}} says: {{post.content}}
    {% endfor %}
    <p>
        关注:{{user.followed.count()}}粉丝:{{user.followers.count()}}
    </p>
    <p>
        {% if user.about_me %}
        {{ user.about_me}}
        {% endif %}
    </p>
    <p>
        {% if user.last_seen %}
        {{ user.last_seen }}
        {% endif %}
    </p>
    <p>
        {% if current_user == user %}
        <a href="{{url_for('edit_profile')}}">Edit</a>
        {% endif %}

    </p>

{% endblock %}